{% extends 'base.html.twig' %}

{% block title %}Edit Equipment{% endblock %}
{% block addSstylesheets %}
	<link href="{{asset('bootstrap/css/add_equip.css')}}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="content form">
    <h4>Edit Equipment</h4>

    {{ include('equipment/_form.html.twig', {'button_label': 'Update'}) }}

    {# <a href="{{ path('app_equipment_index') }}">back to list</a> #}

    {{ include('equipment/_delete_form.html.twig') }}
    </div>
{% endblock %}
