{% extends 'base.html.twig' %}

{% block title %}New Equipment{% endblock %}

{% block addSstylesheets %}
	<link href="{{asset('bootstrap/css/add_equip.css')}}" rel="stylesheet">
    <style>
    .content.form h1 {
       
        margin-top:37px;
    }

    .content.form button {
        
        margin-left: 10px; /* Adjust the margin as needed */
        margin-right:auto;
        margin-top:37px;
        margin-bottom:auto;
    }
    #del{
        {# float: inline-end; #}
        margin-left:10px;
        {# margin-right:360px; #}
        
    }
    .form-control{
        min-width:370px;
    }
    label{
        margin-right:8px;
    }
</style>
{% endblock %}
{% block content %}
    <div class="content form">
    <h1>Create new Equipment</h1>

    {{ include('equipment/_form.html.twig') }}

    </div>
{% endblock %}
