{% extends 'base.html.twig' %}

{% block title %}Sign In{% endblock %}

{% block addSstylesheets %}
<style>
body {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.signup-form {
  flex: 1 1 50%; /* Half of the container width */
  padding: 20px;
  box-sizing: border-box;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"],
input[type="submit"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input[type="submit"] {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.image-container {
  flex: 1 1 50%; /* Half of the container width */
  overflow: hidden;
  text-align: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
  transition: opacity 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .signup-form,
  .image-container {
    flex: 1 1 100%; /* Full width for smaller screens */
  }
}

</style>
{% endblock %}
{% block content %}
<div class="container">
    <form action="#" method="POST" class="signup-form">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div class="form-group">
        <input type="submit" value="Sign In">
      </div>
            <div class="form-group">
        <a href="{{ path('app_signUp')}}"> Sign Up</a>
      </div>
    </form>
    <div class="image-container">
      <img src="images\signInImage.png" alt="Image">
    </div>
  </div>

{% endblock %}
