{% extends 'base.html.twig' %}

{% block title %}Sign In{% endblock %}

{% block addSstylesheets %}
<style>
body {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.signup-form {
  flex: 1 1 40%; /* Half of the container width */
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 0 8px 16px rgba(0, 0, 0, .3);
  border-radius: 25px;
  width:fit-content;
  margin-right:20px;

}

.form-group {
  margin-bottom: 70px;
  width:100%;
   
}
.form-group:last-child{
margin-bottom: 0px;
margin-top:90px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"],
input[type="submit"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


button {
  background-color: #007bff;
  height: 48px;
  color: #66BB69;
  cursor: pointer;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px rgba(171, 190, 209, 0.6);
  border-radius: 15px;
  border: none;
  width:30%;
  margin-left:35%;
}
button:hover {
    background-color: #A5D6A7;
    /* Change background color on hover */
    color: white;
    /* Change text color on hover */
}

.image-container {
  flex: 1 1 40%; /* Half of the container width */
  overflow: hidden;
  text-align: center;
}
.form-control{
    width:100%;
    border: 1.5px;
    border-radius: 10px;
    display: flex;
    box-shadow: 0 2px 4px rgba(171, 190, 209, 0.6);
    margin-bottom:24px;
}

.image-container img {
  max-width: 100%;
  height: auto;
  transition: opacity 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .signup-form,
  .image-container {
    flex: 1 1 100%; /* Full width for smaller screens */
  }
}
</style>
{% endblock %}
{% block content %}
<div class="container">

     {# <form action="#" method="POST" class="signup-form">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" class="form-control" required>
      </div>
      <div class="form-group">
        <button type="submit"><i class="bi bi-box-arrow-in-right"> </i>LogIn</button>
      </div>
    </form> #}
    
    {# templates/security/login.html.twig #}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form method="post" action="{{ path('app_login') }}">
        <label for="email">Email:</label>
        <input type="email" id="email" name="_username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" required>

        <button type="submit">Sign In</button>
    </form>

    <div class="image-container">
      <img src="images\signInImage.png" alt="Image">
    </div>
  </div>

{% endblock %}
