{% extends 'base.html.twig' %}

{% block title %}Sign In{% endblock %}

{% block addSstylesheets %}
<style>
  body {
    margin: 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align elements to the start of the cross axis */
    width: 100%;
    max-width: 900px;
    margin: 100px auto;
    gap: 30px;
  }

  .signup-form {
    flex: 1 1 40%;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .3);
    border-radius: 25px;
    width: fit-content;
    margin-right: 30px;
  }

  .form-group {
    margin-bottom: 70px;
    width: 100%;
  }

  .form-group:last-child {
    margin-bottom: 0px;
    margin-top: 90px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input[type="email"],
  input[type="password"],
  input[type="submit"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .error {
    color: red;
    margin-top: 10px;
  }

  .signup-form button {
    background-color: #007bff;
    height: 48px;
    color: #66BB69;
    cursor: pointer;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(171, 190, 209, 0.6);
    border-radius: 15px;
    border: none;
    width: 30%;
    margin-left: 35%;
    margin-top: 20px;
  }

  .signup-form button:hover {
    background-color: #A5D6A7;
    color: white;
  }

  .image-container {
    max-width: 500px;
    flex: 1 1 40%;
    overflow: hidden;
    text-align: center;
  }

  .form-control {
    width: 100%;
    border: 1.5px;
    border-radius: 10px;
    display: flex;
    box-shadow: 0 1px 2px rgba(228, 242, 255, 0.6);
    margin-bottom: 24px;
  }

  .image-container img {
    max-width: 100%;
    height: auto;
    transition: opacity 0.3s ease-in-out;
  }

  .signup-form a {
    text-decoration: none;
    width: fit-content;
    cursor: pointer;
  }

  .signup-form p {
    width: fit-content;
    margin-bottom: 0px;
    justify-items: baseline;
  }

  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center; /* Center elements for smaller screens */
    }

    .signup-form,
    .image-container {
      flex: 1 1 100%;
    }
  }
</style>

{% endblock %}
{% block content %}
  <div class="container">
    <form method="post" action="{{ path('app_login') }}" class="signup-form">
      <div class="form_group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="_username" required>
        </div>
        <div class="form_group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" required>

        </div>
        {% if error %}
            <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <button type="submit">Sign In</button>
                <p class="flex">Vous n'avez pas de compte ?<a href="{{path('app_chercheur_new')}}">Inscrivez-vous<a></p>
        
    </form>

    <div class="image-container">
      <img src="{{asset('images/signInImage.png')}}" alt="Image">
    </div>
  </div>
{% endblock %}

