{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
<ul>
    <li ><a href="{{path('app_chercheur_index')}}">chercheur</a></li>
    <li><a href="{{path('app_publication_index')}}">Publication</a></li>
    <li><a href="{{path('app_project_de_recherche_index')}}">Projects</a></li>
    <li><a href="{{path('app_equipment_index')}}">Equipment</a></li>
</ul>
{% endblock %}