{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
<ul>
    <li ><a href="{{path('app_chercheur_index')}}">chercheur</a></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
{% endblock %}
